* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

.img-pequena {
    display: none;
}
.conteiner {
    width: 80%;
    height: 50vh;
    margin: 25vh auto;
    text-align: center;

}

.caixa {
    width: 18%;
    height: 120px;
    margin: 1%;
    float: left;
    border: dotted 1px black;
}

.caixa-1 {
    background-color: blue;
}

.caixa-2 {
    background-color: red;
}

.caixa-3 {
    background-color: green;
}

.caixa-4 {
    background-color: yellow;
}

.caixa-5 {
    background-color: purple;
}

/* Media Queries */

@media (max-width: 480px) {
    body {
        background-color: green;
        color: white;

    }

    .caixa {
        width: 100%;

    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: yellow;
        color: black;

    }

    .caixa {
        width: 48%;

    }
}


@media (min-width: 769px) and (max-width: 992px) {
    body {
        background-color: blue;
        color: white;

    }

    .caixa {
        width: 18%;

    }
}

@media (orientation: landscape) {
    body {
        background-color: pink;
        
    }
}

@media print {
    .conteiner-caixas{
        display: none;


    }
}
